@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #ffffff;
  --color2: #252f3d;
  --color3: #85bf55;
  --color4: #2c7ef8;
  --color5: #f82c2c;
  --color6: #e3eeff;
  --color7: #37465a;
  --color8: #969696;
  --color9: #edf3fd;
  --font1: "Manrope";
}

@media screen and (max-width: 430px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 380px) {
  body {
    font-size: 12px;
  }
}
