@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #ffffff;
  --color2: #252f3d;
  --color3: #85bf55;
  --color4: #2C7EF8;
  --color5: #F82C2C;
  --color6: #E3EEFF;
  --color7: #37465A;
  --color8: #969696;
  --color9: #EDF3FD;
  --font1: "Manrope";
}
