.container {
  color: var(--color1);
  font-family: var(--font1);
}

.ulWrapper {
  padding: 0 1em;
  background-color: var(--color2);
}
.ul {
  max-width: 1240px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 0.75em;
  padding: 22px 0 19px;
}
.ul li {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.logoWrapper {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 1em 15px 1em;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.secCertifications {
  display: flex;
  gap: 1em;
}
@media screen and (max-width: 430px) {
  .logoWrapper img {
    width: 10em;
  }
  
  .logoWrapper svg {
    width: 4em;
  }
}
